body {
    font-family: sans-serif;
    font-weight: bold;
    background-image: url(/imagens/Fred_Ott_Sneeze_1894_remastered.gif);
    background-position: center;
    background-size: cover;
}

#calculadora {
    border-radius: 10px;
    padding: 15px;
    margin: 100px auto;
    background-color: rgba(255, 255, 255, 0.3);
    width: 200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .8);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 40px);
    gap: 5px;
}

button {
    border-color:#888d88;
    background:linear-gradient(#adadad, #c5c5c5);
    box-shadow:inset 0px 1px 0px 0px #e3f1e3;
    color:rgb(0, 0, 0);
    text-shadow:0px 1px 0px #dfdfdf;
    border-radius: 5px;
}

#display {
    text-align: end;
    padding: 10px;
    background-image: linear-gradient(#c5c5c5, #e0e0e0);
    box-shadow: inset 3px 2px 0 white;
    grid-column: 1 / -1;
}

.mais {
    background-color: #adadad;
    grid-column: 4 / 5;
    grid-row: 5 / 7;
}

.zero {
    background-color: #adadad;
    grid-column: 1 / 3;
}